body {
  font-family: 'Tajawal', sans-serif;
  display: flex;
  max-height: 100vh;
}

body > .container {
  display: flex;
  flex-direction: column;
}

body > .container .row {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

body > .container .row:last-child {
  flex-basis: 100%;
}

.d-none {
  display: none;
}
.d-table-row {
  display: table-row;
}

.btn {
  display: flex!important;
  flex-grow: 1!important;
}

.btn > div, .btn > span {
  margin: auto!important;
}

.row .form-group:first-child {
  flex: 1 1 auto;
}

.row clr-icon {
  flex: 0 0 auto;
}

clr-icon {
  align-self: center;
}

clr-icon:hover {
  cursor: pointer;
}

.feedback {
  position: absolute;
  display: none;
  width: 100%;
  margin-top: 0;
  font-size: 80%;
  padding-left: 1rem;
}

a:hover {
  text-decoration: none!important;
  outline: none!important;
}

.table-container {
  overflow-x: scroll;
}